<mjml>
  <mj-head>
  	<mj-include path="components/styling.mjml" />  
  	<mj-title>Frisbee: Evenement aanmelding afgewezen</mj-title>
  	<mj-preview>Je aanmelding voor {{ evenement title }} is afgewezen</mj-preview>
  </mj-head>
  <mj-body background-color="#F2F2F2">
    <mj-section mj-class="mailHeader">
      <mj-column padding="32px 0 0 0">
                <mj-image src="images/logo.png" width="120px" padding="8px 0 32px 0" />
        <mj-text mj-class="blackText headerText" padding-bottom="36px">
Je aanmelding voor {{ evenement title }} is afgewezen
        </mj-text>
        <mj-image src="images/slaap-hond-header.jpg" padding="0 0 0 0" />
      </mj-column>

    </mj-section>
    <mj-section mj-class="contentSection">
      <mj-column>
     	<mj-text mj-class="titleText">
De aanmelding voor het volgende evenement is afgewezen
      </mj-text>
             	<mj-text>
                <strong>{{ evenement title }}</strong><br />
                {{ datum evenement }}<br />
                {{ evenement omschrijving over een paar regels zodat de diegenene die goed moet keuren beter kan bepalen of het goedgekeurd kan worden. }}
      </mj-text>
      </mj-column>
    </mj-section>
   
   
    <mj-include path="components/footer.mjml" />
  </mj-body>
</mjml>