<mjml>
  <mj-head>
  	<mj-include path="components/styling.mjml" />  
  	<mj-title>Frisbee: Tips voor het thema</mj-title>
  	<mj-preview>Helaas, hebt het theme net niet gehaald. Wij delen wat tips!</mj-preview>
  </mj-head>
  <mj-body background-color="#F2F2F2">
    <mj-section mj-class="mailHeader">
      <mj-column padding="32px 0 0 0">
        <mj-image src="images/logo.png" width="120px" padding="8px 0 32px 0" />        
        <mj-text mj-class="blackText headerText" padding-bottom="36px" padding="0 16px">
Helaas, je hebt de test net niet gehaald. Vindt in deze artikelen de antwoorden op de vragen die je fout had.
        </mj-text>
        <mj-image src="images/hat-header.jpg" padding="0 0 0 0" />
      </mj-column>

    </mj-section>
    <mj-section mj-class="contentSection">
      <mj-column>
       	<mj-text>Om je op gang te helpen zetten wij alle artikelen op een rij die je moet lezen, kijken of bijwonen waarin je het goede antwoord op de vragen vind. Lees of bekijk de volgende artikelen.
        </mj-text>
      </mj-column>
    </mj-section>
    
    <mj-section mj-class="contentSection">
      <mj-column>
        <mj-text mj-class="titleText">Thema {{ thema title }}
        </mj-text>
      </mj-column>
    </mj-section>
    
        <mj-section mj-class="articleSection">
      <mj-column>
        <mj-image src="images/stadskantoor.jpg" />
       	<mj-text mj-class="smallText" align="left" padding-bottom="0"><span class="tagText">{{ article type }}</span><span class="readText"> - {{ reading time }}</span></mj-text>
        <mj-text mj-class="articleTitle" align="left" padding-top="4px" padding-bottom="0">
          {{ artikel titel }}
        </mj-text>
        <mj-text align="left" padding-top="4px">
          {{ klein intro van het artikel }}
        </mj-text>
      </mj-column>
    </mj-section>
    
    <mj-section mj-class="articleSection">
      <mj-column>
        <mj-image src="images/stadskantoor.jpg" />
       	<mj-text mj-class="smallText" align="left" padding-bottom="0"><span class="tagText">{{ article type }}</span><span class="readText"> - {{ reading time }}</span></mj-text>
        <mj-text mj-class="articleTitle" align="left" padding-top="4px" padding-bottom="0">
          {{ artikel titel }}
        </mj-text>
        <mj-text align="left" padding-top="4px">
          {{ klein intro van het artikel }}
        </mj-text>
      </mj-column>
    </mj-section>
    
    <mj-section mj-class="articleSection">
      <mj-column>
        <mj-image src="images/stadskantoor.jpg" />
       	<mj-text mj-class="smallText" align="left" padding-bottom="0"><span class="tagText">{{ article type }}</span><span class="readText"> - {{ reading time }}</span></mj-text>
        <mj-text mj-class="articleTitle" align="left" padding-top="4px" padding-bottom="0">
          {{ artikel titel }}
        </mj-text>
        <mj-text align="left" padding-top="4px">
          {{ klein intro van het artikel }}
        </mj-text>
      </mj-column>
    </mj-section>
   
   
    <mj-include path="components/footer.mjml" />
  </mj-body>
</mjml>